<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
</button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <!--NUMBER OF PLAYERS-->
 <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Tournaments</ng-template>
      <br/>

      <mat-form-field>
        <mat-label>Select number of participants </mat-label>
        <mat-select matNativeControl required [formControl]="numberFormControl" (selectionChange)="numberOfPlayersSelectionChange($event)">
            <mat-option>--</mat-option>
          <mat-option *ngFor="let num of numberOfParticipants" [value]="num.value">
            {{num.key}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="numberFormControl.hasError('required')">Please choose number</mat-error>
      </mat-form-field>

      <br/>

      <mat-form-field class="input">
          <input
            type="nameOfTournament"
            matInput
            formControlName="nameOfTournament"
            placeholder="Name of tournament"
          />
          <mat-error *ngIf="nameOfTournament.hasError('required')">Name of tournament is required!</mat-error>
        </mat-form-field>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!--PLAYERS-->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Select Players</ng-template>
      <br />
      <table
        mat-table
        [dataSource]="dataSourcePlayers"
        class="mat-elevation-z8"
      >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterTogglePlayers() : null"
              [checked]="
                selectionForPlayers.hasValue() && isAllSelectedPlayers()
              "
              [indeterminate]="
                selectionForPlayers.hasValue() && !isAllSelectedPlayers()
              "
              [aria-label]="checkboxLabelPlayers()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selectionForPlayers.toggle(row) : null"
              [checked]="selectionForPlayers.isSelected(row)"
              [aria-label]="checkboxLabelPlayers(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Surname Column -->
        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef>Surname</th>
          <td mat-cell *matCellDef="let element">{{ element.surname }}</td>
        </ng-container>

        <!-- Username Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Username</th>
          <td mat-cell *matCellDef="let element">{{ element.username }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsForPlayers"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumnsForPlayers"
          (click)="selectionForPlayers.toggle(row)"
        ></tr>
      </table>

      <br />

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- TEAMS -->

   <mat-step>
    <div *ngIf="selection.selected.length > 0">
      <h2>Selected Teams</h2>
      <p *ngFor="let team of selection.selected; let i = index">
        {{ i + 1 }}. {{ team.name }} <span class="rmv" (click)="removeTeam(team)">X</span>
      </p>
    </div>
    <!-- FOR DEBUGGING, REMOVE LATER -->
    <!-- <button (click)="logSelection()">Check Selection</button> -->
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Select Teams</ng-template>
      <mat-form-field>
        <mat-label>Select League </mat-label>
        <mat-select
          matNativeControl
          required
          [formControl]="leagueFormControl"
          (selectionChange)="leagueSelection($event)"
        >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let num of leagues" [value]="num.key">
            {{ num.key }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="leagueFormControl.hasError('required')"
          >Please choose number</mat-error
        >
      </mat-form-field>
      <br />
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let team">{{ team.name }}</td>
        </ng-container>

        <ng-container matColumnDef="banner">
          <th mat-header-cell *matHeaderCellDef>Banner</th>
          <td mat-cell *matCellDef="let team">{{ team.bannerUrl }}</td>
        </ng-container>

        <ng-container matColumnDef="league">
          <th mat-header-cell *matHeaderCellDef>League</th>
          <td mat-cell *matCellDef="let team">{{ team.leagueName }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="selection.toggle(row)"
        ></tr>
      </table>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
