/*
 *  Flex Layout Specifics
*/
main {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  font-size: 1rem;
  padding: 10px;
  line-height: 2rem;
}

.finish-btn {
  width: 110px;
  margin: 0 0 -15px 50%;
}
.input-container {
  display: flex;
  align-items: center;
}

.icon {
  color: brown;
  cursor: pointer;
  border: 1px solid brown;
  margin: 0 4px 0 4px;
}

.score {
  width: 24px;
  height: 22px;
  font-weight: bold;
  color: brown;
  outline: brown;
  border: 1px solid brown;
  text-align: center;
}
.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  list-style: none;
  padding: 0;
}
.game-bottom.second {
  margin-bottom: 43px;
}
.round .spacer {
  flex-grow: 1;
}
.round .spacer:first-child,
.round .spacer:last-child {
  flex-grow: 0.5;
}

.round .game-spacer {
  flex-grow: 1;
}

.bot-spacer {
  border-bottom: 1px solid #aaa;
}

li.game {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}

li.game.winner {
  font-weight: bold;
}
li.game span {
  float: right;
  margin-right: 5px;
}

li.game-top {
  border-bottom: 1px solid #aaa;
  font-size: 13px;
}

li.game-spacer {
  border-right: 1px solid #aaa;
  min-height: 80px;
}

li.game-bottom {
  border-top: 1px solid #aaa;
  font-size: 13px;
}
.mid-spacer {
  height: 1px;
}
